services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  judge0:
    image: judge0/judge0:latest
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - "2358:2358"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

volumes:
  mongo-data:
