name: Run Tests for Food Delivery

on:
  push:
  pull_request:

jobs:
  test:
    name: Run Jest Tests
    runs-on: ubuntu-latest

    env:
      NODE_ENV: test   

    defaults:
      run:
        working-directory: proj2/food-delivery

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
          cache: npm
          cache-dependency-path: proj2/food-delivery/package-lock.json

      - name: Install dependencies
        run: npm ci || npm install

      - name: Run Jest tests
        run: npm test
        
  e2e:
    name: Run Playwright E2E
    runs-on: ubuntu-latest
    needs: test
    defaults:
      run:
        working-directory: proj2/food-delivery
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: proj2/food-delivery/package-lock.json

      - name: Install dependencies
        run: npm ci || npm install

      - name: Install Playwright (browsers & deps)
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test:e2e